src/Main.class
src/lib/Determinant.class
src/lib/Matrix.class
src/lib/SPL.class
src/lib/Balikan.class
src/lib/Kofaktor.class
src/lib/Cramer.class
src/lib/MLR.class
src/Interpolate.class
src/Bicubic.class
src/ImageProcessing.class
test/image/output.jpg